/******************************
General
*******************************/
body {
  font-family: "Nunito Sans", sans-serif;
}
#wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  font-family: "Nunito Sans", sans-serif;
  text-decoration: none;
  color: #FECC55;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

h3 {
  margin: 0 0 1em 0;
}


/******************************
Heading
*******************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Crimson Text", serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8 em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}
#bee {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

#bee p {
  font-size: 24px;
  text-align: center;
  margin-top: -3px;
  margin-bottom: 30px;
}



/*******************************
Page: About
********************************/

#about-Bee {
  max-width: 256px;
  max-height: 256px;
  display: block;
  border-radius: 75%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile-photo {
  max-width: 25%;
  max-height: 25%;
  display: block;
  border-right: 8px solid #D7AC48;
  border-bottom: 8px solid #D7AC48;
}

.about-section {
  font-family: "Crimson Text", serif;
  font-size: 1.25em;
  border: 8px solid #D7AC48;
}

/******************************
Navigation
*******************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-size: 1.25em;
  padding: 15px 10px;
}

/******************************
Footer
*******************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
}

#social-icon {
  width: 125px;
  height: 125px;
  margin: -50px 0 0 0px;
}

/******************************
Page: Portfolio
*******************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #6F95A8;
  color: #FECC55;
}

#gallery li a p {
  margin: 0;
  padding: 2.5%;
  font-size: 18px;

}


/******************************
Colors
*******************************/



/* site body */
body {
  background-color: #287128;
}


/* pastel blue header */
header {
  background-color: #2B8DBF;
  border-color: #FEC60C;
}


/* nav background */
nav {
  background: #136690;
}

/*nav links*/
nav a, nav a:visited {
  color:#FECC55;
}

nav a.selected, nav a:hover {
  color: #C16E25;
}

footer {
color: green;
background-color: #D7AC48;
}
