
/******************************
Responsive
*******************************/

@media screen and (min-width: 750px) {


  /******************************
  Two Column Layout
  *******************************/
  #primary {
    width: 50%;
    float: left;
  }

  #secondary {
    width: 40%;
    float: right;
  }

    /******************************
    Page: Portfolio
    *******************************/

  #gallery li {
    width: 28.3333%
  }

  /******************************
  Page: About
  *******************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
    object-fit:  fill;
  }


}

@media screen and (min-width: 1024px) {
  nav {
    background:none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }











}
